/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

/*Remove default margins,padding & set box-sizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  max-width: 1440px;
  max-height: 1080px;
  margin: 0 auto;
}

/*Header styles*/
.header {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  line-height: 25.18px;
  margin: 40px 0 200px 77px;
}

/*main content styles*/
.content {
  display: flex;
  /*flex-wrap: wrap;*/
}

/*Picture styles*/
.pic {
  width: 37.5%;
  height: 100%;
  margin-left: 77px;
}

/*Styles for content elements*/
.content-items {
  font-family: 'Space Mono', monospace;
  margin-left: 119px;
}

.content-heading {
  width: 588px;
  font-size: 64px;
  font-weight: 700;
  line-height: 94.78px;
}

.content-subheading {
  margin-top: 36px;
  width: 382px;
  font-size: 24px;
  font-weight: 400;
  line-height: 35.54px;
}

/*button styles*/
.homepage {
  margin-top: 64px ;
  width: 216px;
  height: 68px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

/*footer styles*/
.footer {
  margin: 308px 0 24px 0;
  font-family: 'Montserrat', sans-serif;
  color: #BDBDBD;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.footer span {
  text-decoration: underline;
  font-weight: 700;
}
/*media queries*/
@media screen and (max-width: 1024px) {
  .header {
    margin: 30px 0 142px 56px;
  }  
  .content {
    width: 90%;
    margin: 0 56px;
  }
  .pic {
    width: 41.45%;
    margin: 0;
  }
  .content-items {
    margin-left: 90px;
    margin-right: 114px;
  }
  .content-heading {
    width: 385px;
    font-size: 41px;
    line-height: 66px;
  }
  .content-subheading{
    margin-top: 31px;
    width: 256px;
    font-size: 16px;
    line-height: 28px;
  }
  .homepage {
    margin-top: 40px;
    width: 40%;
    height: 16%;
    font-size: 11px;
  }
  .footer {
    margin: 228px 0 22px 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 426px) {
  .header {
    font-size: 1.18em;
    margin: 26px 0 68px 24px;
  }  
  .content {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .pic {
    width: 80%;
    margin: 0 auto
  }
  .content-items {
    width: 80%;
    margin: 82px auto;
  }
  .content-heading {
    width: 320px;
    font-size: 2.5em;
    line-height: 56px
  }
  .content-subheading{
    margin-top: 44px;
    font-size: 15px;
    line-height: 24px
  }
  .homepage {
    width: 70%;
    height: 21%;
    font-size: 10px;
  }
  .footer {
    margin: 120px 0 22px 0;
  }
}